*{
	margin: 0;
	padding: 0;
}

html {
	min-height: 100vh;
}



.wrapper{
overflow: hidden;
	padding: 50px 5px;
	
}
header{
margin-top: 40px;
}

header h1{
	font-family: "Myriad Pro";
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	margin: 40px 0 39px 0;
	color: #fff;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px #000;
}


#CDT {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    color: orange;
    text-shadow: 2px 2px 2px #000;
}

.number{
	margin: 10px;
}

.box.hhours {
	display: none;
}

.box{
	width: 33.332%;
	max-width: 200px;
	border: #dbdbdb solid 2px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	margin: 5px;
	box-shadow: 3px 2px 20px -4px rgba(0,0,0,0.75);

	height: 150px;
	
}

.caption {
   font-size: 12px;
   position: absolute;
   bottom: -50px;
   left: 0;
   text-align: center;
   width: 100%;
   color: #fff;
	text-shadow: 2px 2px 2px #000;
}



