*{
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	overflow: hidden;
}

html:before {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: 0.6;
	background: #000;
	z-index: 1;
	
}

body > * {
	position: relative;
	z-index: 2;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
	
}
header{
	margin-top: 50px;
}

header h1{
	font-family: "Myriad Pro";
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	margin: 50px 0 39px 0;
	color: orange;
	letter-spacing: 2px;
}


#CDT {
    font-size: 70px;
    color: orange;
    font-weight: bold;
    text-align: center;
	
	display: flex;
	justify-content: center;
}

.number{
	margin: 10px;
}

.box{
	width: 25%;
	max-width: 200px;
	border: #dbdbdb solid 2px;
	background: #fff;
	line-height: 200px;
	position: relative;
	margin: 20px;
	box-shadow: 3px 2px 20px -4px rgba(0,0,0,0.75);
	
}

.caption {
   font-size: 12px;
   position: absolute;
   bottom: -50px;
   left: 0;
   text-align: center;
   width: 100%;
   color: black;
}



