*{
	margin: 0;
	padding: 0;
}

html {
	min-height: 100vh;
	overflow: hidden;
}


body > * {
	position: relative;
	z-index: 2;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 50px 30px;
	
}
header{
	margin-top: 50px;
}

header h1{
	font-family: "Myriad Pro";
	font-weight: bold;
	font-size: 45px;
	text-align: center;
	margin: 50px 0 39px 0;
	color: orange;
	letter-spacing: 2px;
}


#CDT {
    font-size: 40px;
    color: orange;
    font-weight: bold;
    text-align: center;
	display: flex;
	justify-content: center;
}

.number{
	margin: 10px;
}

.box{
	width: 25%;
	max-width: 200px;
	border: #dbdbdb solid 2px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	margin: 10px;
	box-shadow: 3px 2px 20px -4px rgba(0,0,0,0.75);
	
}

.caption {
   font-size: 12px;
   position: absolute;
   bottom: -50px;
   left: 0;
   text-align: center;
   width: 100%;
   color: black;
}



