*{
	margin: 0;
	padding: 0;
	
}
body{
	background: #565656;

}

.wrapper{
	width: 1200px;
	margin: 0 auto;
	
}
header{
	margin-top: 50px;
}
.logo img{
	width: 252px;
	margin: 0 auto;
	
	display: block;
	
}
header h1{
	font-family: "Myriad Pro";
	font-weight: normal;
	font-size: 40px ;
	text-align: center;
	margin: 50px 0 39px 0;
	color: #949494;
	letter-spacing: 2px;
}


#CDT {
    font-size: 60px;
    color: orange;
    font-weight: bold;
    text-align: center;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.number{
	margin: 10px;
}

.box{
	width: 20%;
	border: #dbdbdb solid 2px;
	background: #fff;
	line-height: 150px;
	position: relative;
	margin: 20px;
	box-shadow: 3px 2px 15px -4px rgba(0,0,0,0.75);
	
}
.box:first-child {
dispaly:none;}
.caption {
   font-size: 12px;
   position: absolute;
   bottom: -50px;
   left: 0;
   text-align: center;
   width: 100%;
   color: black;
}



